{% extends 'base.html' %}
{% block content %}


<div class="container">
  <div class="columns">
    <div class="column" id="m">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <br>
        <br>
          <ul id="list">
            <li><a class="btc">Bitcoin</a></li>
            <li><a class="ada">Cardano</a></li>
            <li><a class="link">ChainLink</a></li>
            <li><a class="doge">Dogecoin</a></li>
            <li><a class="eth">Ethereum</a></li>
            <li><a class="ltc">Litecoin</a></li>
          </ul>
      </nav>

      <div class="data">
        <div class="hero is-fullheight">
        <div class="box" id="intro-text">
          <center>
            <p class="title is-2">Welcome to Crypto Dashboard</p>
            <p class="title is-4">Here you will be able to view price information on the top meme tokens
            </p>
            <p class="title is-4">Please click on one of the token symbols on top to begin</p>
          </center>        
        </div>
      </div>
     </div>
    </div>
  </div>
</div>









<script>
    const NEWS_KEY = "{{ NEWS_API }}";
    const CRYPTO_COMPARE_KEY = "{{ CRYPTO_COMPARE_API }}";
    const LUNA_CRUSH_KEY = "{{ LUNA_CRUSH_API }}";
</script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js" 
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
crossorigin="anonymous">
</script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



<script src="./static/js/crypto/trading-signals.js"></script>
<script src="./static/js/crypto/ccharts.js"></script>
<script src="./static/js/crypto/cnews.js"></script>
<script src="./static/js/crypto/crypto.js"></script>
{% endblock %}