{% extends 'base.html' %}
{% block content %}

<section class="section is-medium">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column has-text-centered">
          <h1 class="title has-text-danger-dark">403 Access Denied</h1>
          <p class="subtitle">You do not have access to this resource. Please go back to Home page.</p>
          <a href="/" class="button">Home</a>
        </div>
      </div>
    </div>
  </section>


{% endblock %}