{% extends 'base.html' %}
{% block content %}

 <div class="hero is-fullheight is-black has-background">
  <img alt="cover image" class="hero-background" src="./static/images/front4.jpg" />
  <div class="hero-body">
    <div class="container" id="intro">
      <center>
        <h1 class="title" id="intro-title">Welcome to Meme Central</h1>
        <h3 class="subtitle" id="intro-sub">Lets go to the moon together</h3>
        <a class="button is-link" href="/stock-dashboard">
          <strong>Meme Stocks</strong>
        </a>
        <a class="button is-warning" href="/crypto-dashboard">
          <strong>Meme Crypto</strong>
        </a>
      </center>
    </div>
  </div>
</div>
 


{% endblock %}