<nav class="navbar is-black">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">MEME Central</a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" 
    onclick="burger()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
     
    <div class="navbar-end">
      <div class="navbar-item">
         <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
          <a class="navbar-item" href="/">Home</a>
          <a class="navbar-item" href="/stock-dashboard">Top Meme Stocks</a>
          <a class="navbar-item" href="/crypto-dashboard">Top Meme Crypto</a>
         </div>
      </div>
    </div>
  </div>
</nav>






